@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vina+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

body{
    zoom: 0.9; /* Ajuste o valor conforme necessário para reduzir o zoom */
    height: 100vh;
}
.navbar {
    background-color: #0055A3;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 1px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
    list-style: none;
}

.navbar-logo a {
    text-decoration: none;
    margin-right: 45px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    list-style: none;
}

.navbar .entrar {
    background-color: #F21A24;
    padding: 10px 44px;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.507);
}

.entrar a {
    text-decoration: none;
}

.entraricon {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar .links a:hover {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.219);
}

.navbar li {
    list-style: none;
    font-size: 1em;
}

.conteudo {
    color: #17293D;
    text-align: center;
    margin: 100px;
    margin-top: 20px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.2em;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    padding: 20px;
}

.centro-conteudo {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto {
    display: inline-block;
    text-align: center;
    max-width: 80%;
    font-size: 1.1em;
}

.centered-conteudo img {
    max-width: 100%;
    padding: 5px;
    height: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centered-images {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 40px;
}

.imagem img{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.418);
    width: 300px;
    min-width: 400px;
    height: 300px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-wrap: wrap;
    transition: 0.5s;
    border-radius: 10px;
}
.imagem img:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.quem {
    width: 100%;
    text-align: justify;
}

.quem h2 {
    font-size: 2.2em;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.quem p {
    font-size: 16px;
    margin-bottom: 20px;
    font-size: 1.1em;
}


.conteudo-final{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #17293D;
    margin: auto;
    width: 73%;
}